<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        p{
            font-size: 20px;
            text-align: left;

        }
    </style>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<h1>Air Quality Prediction using Machine learning</h1>
<p align ="justify">
    Accompanying the rapid urbanization, many cities in developing countries including Nepal have led to environmental problems such as air pollution, water pollution, noise pollution and many more. Air pollution has direct impact on human’s health. Global warming, acid rains, increase in the number of asthma patients are some of the long-term consequences of air pollution. The demand for predicting future air quality is becoming increasingly more important to government's policy-making and people's decision making. Précised air quality forecasting can reduce the effect of maximal pollution on the humans and biosphere as well. Hence, enhancing air quality forecasting is one of the prime targets for the society.
 <br></br>Objectives<br>
• To predict air pollution level in City with the ground data set.<br>
• To show the relationships of air pollutant level with meteorological and traffic factors.<br>
• To assist policy making process by providing insights about level of air pollutants.<br>
</p>
<p align=""justify>
Scope<br>
    Air Quality Prediction System has sole purpose of providing insights about daily air quality.
    It helps government and health organizations to be prepared for hazardous effect of air pollution by spreading mass awareness.
    Currently our system is limited to forecast the air quality of Kathmandu city. It can further be refurbished to forecast the air quality of several cities according to the availability of data sets.
    Air quality prediction system can be used by health organizations and also the health conscious individuals can benefit from the air quality forecast. The policy making bodies of government can develop certain rules and regulation to control air pollution and also come up with pollution control technologies.
    It helps in establishing Air Quality goals according to pollution index in local or central government.</p>


</body>
</html>